@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --pri-color: rgb(238, 35,12);
    --sec-color: rgb(94,94,94);
    --third-color: rgb(146,146,146);
    --body-color: rgb(213,213,213);
    --nav-link-color: rgb(213,213,213);
    --default-color: #fff;
    --ff-poppins: "Poppins", sans-serif;
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--ff-poppins);
}

a, ul{
    text-decoration: none;
    list-style: none;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

main{
    height: 100vh;
    position: relative;
}

nav {
    width: 100%;
    background: var(--pri-color);
    /* position: absolute;
    top: 0;
    left: 0; */
    text-align: center;
    padding: 10px 0;
}

a.navbar-brand img {
    width: 60px;
    margin: 0 auto;
}

#content{
    min-height: 64.3vh;
    padding: 20px 0;
    overflow-y: hidden;
}

#content form {
    background: var(--third-color);
    height: 100%;
    padding: 0 20px;
    border-radius: 20px;
    color: var(--body-color);
}

.hotel_slider {
    display: flex;
    align-items: center;
}

.hotel_slider .card{
    position: relative;
}

.hotel_slider .card a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer{
    padding: 20px 0;
    width: 100%;
    background: var(--pri-color);
    /* position: absolute;
    bottom: 0;
    left: 0; */
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer ul li {
    height: 84px;
    background-color: var(--nav-link-color);
    border-radius: 10px;
    max-width: 150px;
    width: 100px;
    text-align: center;
    color: var(--default-color);
    position: relative;
    padding-top: 56px;
    text-transform: uppercase;
}

footer ul li a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer ul li:hover{
    background: var(--sec-color);
}


/* OWL CAROUSEL */

.item {
    background: #4a90e2;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

.active_nav{ 
    background: var(--sec-color);
}

.bg-pri{
    background: var(--pri-color) !important;
}

.bg-sec{
    background: var(--sec-color) !important;
}